.gear-page {
    overflow: auto;
    overflow-x: hidden;
    height: 100%;

    .gear-header {
        display: flex;
        align-items: center;

        .left {
            img {
                height: 25px;
            }
        }

        .right {
            padding-left: 8px;
            position: relative;
            width: 100%;

            .Epic {
                color: #fe4365;
            }

            .Heroic {
                color: #fc913a;
            }

            .Rare {
                color: #00dffc;
            }

            .enhance {
                right: -12px;
                position: absolute;
                top: -12px;
                background: #e94e77;
                color: #ffffff;
                padding: 0 4px;
                border-radius: 4px;
            }
        }
    }

    .gear-main {
        margin: 12px 0;
        font-size: 16px;
        padding: 4px 12px;
        border: 1px solid #d68189;
        border-left: none;
        border-right: none;
        display: flex;
        justify-content: space-between;
    }

    .gear-sub-state {
        padding 0 12px
        p {
            display: flex;
            justify-content: space-between;
            margin 0
        }
    }
}

.ant-tabs {
    height: 100%;
}

>>>.ant-tabs-content {
    height: 100%;
}